* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* --------COMMON-------- */
body {
  line-height: 1.45;
  font-size: 14px;
  font-family: "futura-REGULAR", sans-serif !important;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #868d95;
}
.color_grey {
  color: #ccc;
}

/* --------COMMON-------- */

.layout-account .wrapbox-heading-account {
  padding: 22px;
}
.layout-account .header-page h2,
.layout-account .header-page h1 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: initial;
  cursor: pointer;
}
.layout-account .header-page h2:last-child {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 3px solid #ccc;
}
.layout-account .customers_accountForm {
  justify-items: center;
  max-width: 500px;
  margin: 0 auto 50px;
}
.layout-account .customers_accountForm .large_form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

#login {
  width: 100%;
}
.layout-account .customers_accountForm input[type="text"],
.layout-account .customers_accountForm input[type="email"],
.layout-account .customers_accountForm input[type="password"],
.layout-account .customers_accountForm input[type="submit"] {
  border-radius: 8px;
  width: 100%;
  padding: 5px 20px;
}
.layout-account .customers_accountForm input[type="text"],
.layout-account .customers_accountForm input[type="email"],
.layout-account .customers_accountForm input[type="password"] {
  height: 55px;
  color: #5c5c5c;
  font-weight: 500;
  border: 1px solid transparent;
  background: #ededed;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.layout-account .customers_accountForm input[type="submit"] {
  height: 48px;
  background-color: #1b4ea0;
  color: #fff;
}
.custommer_account_action .action_bottom {
  margin-bottom: 10px;
}
.custommer_account_action .req_pass {
  justify-self: center;
}
.req_pass a {
  text-decoration: underline;
  color: #184cfa;
}
/* =============== */
.header-action__dropdown {
    width: auto;
    min-width: 260px; 
    position: absolute;
    top: calc(100% + 15px);
    left: auto;
    right: -15px;
    z-index: 990;
    min-width: 280px;
    border-radius: 3px;
    color: #677279;
    background: #fff;
    border: solid 1px #dfe3e8;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.header-dropdown_content {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 20px 20px;
}
.sitenav-account .site_account_panel_list {
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.sitenav-account .site_account_panel_list .site_account_info {
    text-align: left;
    font-size: 14px;
}
.sitenav-account .site_account_panel_list .site_account_header {
    margin: 0 0 20px;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.site_account_header {
    margin: 0 0 20px;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.site_account_header .site_account_title {
  color: #3d0f0f !important;
  font-weight: 700;
}

.site_account_inner ul li{
  color: #000;
}

.header-action__ropdown {
    display: none;
}

.header-action__dropdown.active {
    display: block;
}

/* Product Item Link */
.product-item-link {
    text-decoration: none !important;
    color: inherit !important;
    display: block;
}

.product-item-link:hover {
    color: inherit !important;
}
